

footer {
    background-color: #222f33;
    padding: 40px 0;
}

.footer-container {
    font-size: 12px;
    max-width: 90%;
    margin: 0 auto;
    a {
        transition: all 0.3s ease;
        text-decoration: none;
        opacity: 0.6;
        &:hover {
            color: $white;
            opacity: 1;
        }
    }

    .footer-start,
    .footer-end {
        padding: 10px 0;
    }
    .logo {
        width: 135px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            padding: 0 20px;
        }
    }
}


